name: dev-cd.yml

on:
  push:
    branches: [ develop ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # 서버에 SSH 접속해서 컨테이너 재시작
      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/bucketlist:latest
            docker stop app || true
            docker rm app || true
            docker run -d --name app -p 80:8080 ${{ secrets.DOCKERHUB_USERNAME }}/bucketlist:latest
